.contenedor_seccion {
  position: absolute;
  width: 100%;
  background-color: var(--blanco-gris);
  .seccion {
    background-color: var(--blanco-gris);
    color: var(--negro);
    position: absolute;
    width: 100%;
    right: 0px;

    transition: all 0.5s linear;
  }
}

.seccion.ocultar {
  position: absolute;
  transform: translateX(-3500px);
}
