.contenedor_seccion {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--blanco-gris);

  transition: all 0.3s linear;

  .seccion {
    background-color: var(--blanco-gris);
    color: var(--negro);
    position: absolute;
    width: 90%;
    left: 0;
    border-radius: 5px;

    padding: 25px 30px;

    transition: all 0.3s linear;

    table {
      border-radius: 5px;
      thead {
        color: var(--negro);
        transition: all 0.3s linear;
      }
    }
    div {
      background-color: var(--blanco);
      color: var(--negro);
      transition: all 0.3s linear;

      span {
        color: var(--negro);
        transition: all 0.3s linear;
      }
      select {
        background-color: var(--blanco-input);
      }
      input {
        color: var(--negro);
      }
    }
  }
}

.seccion.ocultar {
  position: absolute;
  transform: translateX(-3500px);
}

.input_buscar {
  width: 30%;
  label {
    background-color: var(--blanco-input);
  }
}
