.navegador {
  display: flex;
  height: 60px;
}

.encabezado {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 30%;
  background-color: #fff;
  z-index: 9999;
}

.encabezado h1 {
  padding: 10px;
}

.imagen_encabezado {
  width: 40px;
  /* object-fit: cover; */
}

.opciones_navegador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #0d6669;
}

.opciones_navegador-ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.opciones_navegador-ul li {
  padding: 10px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 500;
  user-select: none;
}

.opciones_navegador-ul button {
  transition: all 0.3s linear;
}

.opciones_navegador-ul button:hover {
  transform: scale(1.1);
}

.opciones_navegador-ul button.ocultar {
  transform: rotate(180deg);
}

.lista_opciones {
  width: 250px;
  padding: 10px;
  background-color: #000;
  position: absolute;
  top: 65px;
  z-index: -1;
  border-radius: 5px;

  transition: all 1s ease;
}

.lista_opciones li {
  width: 100%;
  border-radius: 5px;

  transition: all 0.3s;
}

.lista_opciones li:hover {
  background-color: #fff;
  color: #000;
}

.lista_opciones.ocultar {
  top: -500px;
}
