header {
    background-color: #aad9bb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 1%;
    height: auto;
}

.imagen_encabezado {
    width: 100px;
    /*object-fit: cover;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d6669;
    display: flex;
    flex-direction: row;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    font-weight: 700;

}

li:hover {
    background-color: black;
    transform: scale(1.1);
    transition: all 0.3s ease;

}