@import "imports/mixins";
@import "imports/variables";
@import "imports/main";
@import "imports/aside";
@import "imports/acordeon";
@import "imports/seccion";
@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  height: 100vh;
  background-color: var(--blanco-gris);

  transition: all 0.3s linear;
}
.navbar {
  background-color: var(--blanco);
  color: var(--negro);

  transition: all 0.3s linear;
  .menu {
    background-color: var(--blanco);
    color: var(--negro);
  }
}
