@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --transition: all 0.2s linear;
  --marcado: rgb(127, 195, 255);
  --tipo-principal: "Carlito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #ffffff50;
  }
}
.barra_lateral {
  padding: 10px 5px;
  background-color: var(--blanco);
  position: absolute;
  right: 0px;
  width: 300px;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.2s linear;
}

.barra_lateral.show {
  transform: translateX(-300px);
}

.encabezado {
  font-size: 2rem;
  color: var(--negro);
  font-weight: 500;
  padding: 10px 5px;
}

.button_menu {
  position: absolute;
  width: 50px;
  left: -50px;
  font-size: 2rem;
  transition: all 0.2s linear;
}

.button_menu:hover {
  transform: scale(1.2);
}

.button_menu:active {
  transform: scale(0.9);
}

.button_menu.show {
  transform: rotate(-90deg);
}

.button_menu.show:hover {
  transform: scale(1.1) rotate(-90deg);
}

.button_menu.show:active {
  transform: scale(0.9);
}

.acordeon {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 10px;
  font-style: normal;
  font-family: var(--tipo-principal);
}

.bloque {
  padding: 5px 10px;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
    -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
    inset 0 0 0 transparent;
}

.titulo {
  padding: 5px 15px;
  font-weight: 700;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
    -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
    inset 0 0 0 transparent;
}
.titulo:hover {
  background-color: var(--negro);
  color: var(--blanco);
}
.titulo:active {
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--sombra-ppal),
    -0.1rem -0.1rem 0.2rem var(--sombra-sec), inset 0 0 0 transparent,
    inset 0 0 0 transparent;
}

.contenido {
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}

.bloque.activo .contenido {
  padding: 10px 0;
  height: 11em;
}

.contenido_lista {
  display: flex;
  flex-direction: column;
  gap: 5px 2px;
  padding: 0 15px;
}

.contenido_button {
  padding: 5px 10px;
  font-weight: 500;
}
.contenido_button:hover {
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
    -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
    inset 0 0 0 transparent;
}
.contenido_button:active {
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--sombra-ppal),
    -0.1rem -0.1rem 0.2rem var(--sombra-sec), inset 0 0 0 transparent,
    inset 0 0 0 transparent;
} /*# sourceMappingURL=adminstyle.css.map */
